body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar
{
    background-color: #111;
    height: 100%;
    left: 0;
    padding-top: 60px;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    width:0;
    transition: 0.5s;
    z-index: 1;
}
.sidebar a
{
    color: #818188;
    display: block;
    font-size: 25px;
    padding: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar a:hover
{
    color: #f1f1f1;
}

.sidebar .closebtn{

    font-size: 36px;
    margin-left: 50px;
    position: absolute;
    right: 25px;
    top: 0;
}

.openbtn{
    background-color: #111;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
}

.openbtn:hover
{
    background-color: #444;
}

#main{
    transition: 0.5s;
}